html, body {
    background-color: #FFE9D0;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 600px) {
    body {
        background-color: #FFE9D0;
        .container {
            flex-direction: column;
        }
    }
}

p, h1, h2, h3, nav, main, span {
    font-family: "Itim", cursive;
}

.TH, article, p {
    font-family: "Mitr", sans-serif;
    font-size: 17px;
    color: #333;
}

header {
    background-color: #B1AFFF;
}

.name {
    color: white;
    padding: 10px;
    display: inline-block;
}

nav {
    background-color: #FFB4B4;
    text-align: center;
    top: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 15px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #333;
}


main {
    padding: 20px;
    width: 100%;
    margin: 30px;
}

.container {
    display: flex;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
}

.item1 {
    box-sizing: content-box;
    flex-direction: row;
    justify-content: start;
    background-color: #FFDEB4;
    padding: 20px;
    margin: 0px;
}

.gettoknow {
    border-style: solid;
    border-radius: 10px;
    border-color: #FD8A8A;
    background-color: white;
    color: #333;
    width: 200px;
    padding: 8px;
}

.mypic, .vdo {
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.item2 {
    background-color: #FFE9D0;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
    margin: 0px;
}

.me {
    color: #333;
    padding: 20px;
    align-items: center;
    margin: 40px;
}

footer {
    background-color: #B1AFFF;
    padding: 10px;
    text-align: center;
    clear: both;
}

.IG {
    font-size: 18px;
    font-family: "Itim", cursive;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

.igpic {
    width: 15px;
}

.topic {
    border-style: solid;
    border-radius: 10px;
    border-color: #FD8A8A;
    background-color: white;
    text-align: center;
    width: 370px;
    padding: 10px;
}

h3 {
    border-style: solid;
    border-radius: 10px;
    border-color: #FD8A8A;
    padding: 10px;
    width: 150px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
    text-align: center;
}

.box1 {
    background-color: #FDF7C3;
    width: 920px;
    height: 550px;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
}

.box2 {
    background-color: #FFB4B4;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 355px;
    height: auto;
    display: block;
    float: left;
}

.image {
    width: 330px;
    padding: 15px;
    align-items: center;
}

article {
    margin-top: 100px;
    font-size: 18px;
    display: block;
    float: left;
    color: #333;
}

.box1but3rd {
    background-color: #FDF7C3;
    width: 920px;
    height: 740px;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
}

.box2butdiff {
    background-color: #FFB4B4;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 355px;
    height: 350px;
    display: block;
    float: left;
}

.sam {
    font-family: "Mitr", sans-serif;
    margin-top: 60px;
    font-size: 18px;
    display: block;
    color: #333;
    align-items: center;
}

.box1but4th {
    background-color: #FDF7C3;
    width: 920px;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
}

.si {
    font-family: "Mitr", sans-serif;
    margin-top: 105px;
    font-size: 18px;
    display: block;
    float: left;
    color: #333;
}

.box3 {
    background-color: #FDF7C3;
    width: 920px;
    height: 700px;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
}

.a {
    box-shadow: 5px 6px gray;
    background-color: white;
    padding: 10px;
    margin-left: 70px;
    margin-top: 40px;
    width: 100px;
    text-align: center;
    font-size: 24px;
}

.box4 {
    background-color: #FFB4B4;
    padding: 20px;
    margin: 30px;
    box-shadow: 8px 9px gray;
    width: 300px;
    height: auto;
    display: block;
    float: left;
    margin-left: 70px;
}
.image2 {
    width: 260px;
    height: 330px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 8px;
    margin: 10px;
}

.future {
    font-family: "Mitr", sans-serif;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 18px;
    float: left;
    color: #333;
}

.life {
    background-color: #FFB4B4;
    padding: 20px;
    margin: 30px;
    box-shadow: 8px 9px gray;
    width: 300px;
    height: 600px;
    float: left;
    margin-left: 70px;
}

.image3 {
    width: 260px;
    height: 330px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 8px;
    margin: 8px;
}

.box5 {
    background-color: #FDF7C3;
    width: 920px;
    height: 1570px;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
}